<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/style.css">
    <title>shortify - Success!</title>
</head>
<body>
    <div class="card">
        <h1>Shortified!</h1>
        <p>Here's your shortened url!</p>
        <br>
        <h2><a href="<%= url %>"><%= url %></a></h2>
        <button class="submitButton"><a href="/">Shorten another URL</a></button>
    </div>
</body>
</html>